@import 'utilities.css';
:root {
    --primary: #0C98E2;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #A1AAB5;
    --light: F2F2F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialised;
}

header {
    background-color: #161616;
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: white;
    text-decoration: none;
    margin-right: 1.6rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

.branding img {
    width: 150px;
    height: 75px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.center-it {
    align-items: center;
    padding: 0.8rem 0;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 6rem;
}

.hero {
    padding: 3rem 0;
}

.hero .hero-right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero-right {
    align-items: center;
    margin-top: 3rem;
}

.hero .hero-left img {
    width: 500px;
}

.hero .hero-right {
    color: var(--pure);
}

.hero .hero-right h1 {
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.hero .hero-right h1 span {
    color: var(--primary);
}

.hero .hero-right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .hero-right {
    margin-top: -1rem;
}

.about img {
    width: 450px;
    height: 500px;
}

section {
    padding: 6rem 0;
}

.social_icons a {
    text-decoration: none;
}

.social_icons a img {
    width: 20px;
    height: 20px;
}

.social_icons a img:hover {
    background-color: var(--primary);
}