@import 'utilities.css';
:root {
    --primary: #0C98E2;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #A1AAB5;
    --light: #F2F2F2;
    --secondary: #070606;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialised;
}

header {
    background-color: #161616;
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: white;
    text-decoration: none;
    margin-right: 1.6rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

.branding img {
    width: 150px;
    height: 75px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.center-it {
    align-items: center;
    padding: 0.8rem 0;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 6rem;
}

.hero {
    padding: 3rem 0;
}

.hero .hero-right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero-right {
    align-items: center;
    margin-top: 3rem;
}

.hero .hero-left img {
    width: 500px;
}

.hero .hero-right {
    color: var(--pure);
}

.hero .hero-right h1 {
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.hero .hero-right h1 span {
    color: var(--primary);
}

.hero .hero-right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .hero-right {
    margin-top: -1rem;
}

.about img {
    width: 450px;
    height: 500px;
}

section {
    padding: 6rem 0;
}

.social_icons a {
    text-decoration: none;
    margin-right: 0.6rem;
    border-radius: 50%;
}

.social_icon {
    display: flex;
}

.social_icons a img {
    width: 40px;
    height: 40px;
}

.social_icons a img:hover {
    background: var(--primary);
    transition: all .3s ease;
}

.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.about h1 span {
    color: var(--primary);
}

.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

.block-header {
    width: 100px;
    height: 100px;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading+p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}

.section-heading span {
    color: var(--primary);
}

section.services {
    background: var(--light);
}

section.services .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 6rem;
}

section.services .card-wrapper .card {
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    text-align: center;
}

section.services .card-wrapper .card:hover {
    background: var(--dark);
    transition: all 0.3s ease;
}

section.services .card-wrapper .card:hover h2 {
    color: var(--pure);
}

section.services .card-wrapper .card:hover p {
    color: var(--pure);
}

section.services .card-wrapper .card img {
    position: absolute;
    /*important*/
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

section.services .card-wrapper .card h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p {
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    line-height: 1.6rem;
}