@import 'utilities.css';
:root {
    --primary: #0C98E2;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #A1AAB5;
    --light: F2F2F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialised;
}

header {
    background-color: #161616;
    height: 800px;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: white;
    text-decoration: none;
    margin-right: 1.6rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

body {
    font-family: 'Poppins', sans-serif;
}

.center-it {
    align-items: center;
    padding: 0.8rem 0;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 6rem;
}

h6 {
    color: var(--primary);
}

.hero-right {
    align-items: center;
    margin-top: 3rem;
}

.hero .hero-left img {
    width: 500px;
}